body {
    margin: 0%;
    background-color: #fac8d0!important;
}

.navbar {
    background-color:transparent !important;
    position: fixed!important ;
    width: 100%;
    z-index: 10;
}
.main-context {
    z-index: 1;
}
.empty-container {
    padding-top: 350px;
}
.main-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70vh;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.button{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 0px;
    background-color: rgb(211, 91, 91);
    box-shadow:
        0 0 0 100px rgb(226, 187, 187),
        0 0 0 200px rgb(153, 99, 99),
        0 0 0 300px rgb(143, 72, 72);
}
.button:hover{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 0px;
    background-color: rgb(187, 87, 87);
    box-shadow:
        0 0 0 100px rgb(172, 119, 119),
        0 0 0 200px rgb(112, 65, 65),
        0 0 0 300px rgb(146, 56, 56);
}
.card .btn {
    background-color: green !important;
    color: #F3E0DC !important;
    border: 0 !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#main-footer {
    background-color: transparent;
    border: 0;

        
}
html { height: 100% }
   body { height: 100%; margin: 0; padding: 0 }
   #map { height: 100% }

.footer {
    position: absolute;
    bottom:0;
    width:100%;
    height:90px;
}
.grid {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
    background-color: rgb(170, 93, 93);
    padding-top: 5px; 
    
  }
  .cell {
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    height: 50px;
    margin-bottom: 5px;
    background-color: #999;
  }
  .cell:nth-child(3n) {
    background-color: #999;
  }
  .phone-button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

  }
