

body {

    margin: 0%; 
    background-image: repeating-linear-gradient(to right, rgb(141, 83, 83), rgb(150, 106, 106), rgb(226, 195, 195));
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70vh;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

figure {
	margin: 5em auto;
	width: 350px;
	height: 150px;
}